@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html, body {
  @apply h-full m-0 p-0;
}

#thought-challenge-app {
  @apply h-full w-full;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.question-transition {
  animation: slideIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}